{% extends "base_generic.html" %}

{% block content %}

  {% if form.errors %}
    <p>Veuillez reessayer.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'user_login' %}" class="connexion">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Valider" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <h class="quarant">Quarant'In Need</h>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p class="mdp"><a href="{% url 'password_reset' %}" style="color:white;">Mot de passe oublie?</a></p>
  
{% endblock %}