{% extends "base_generic.html" %}

{% block content %}
    <div>
      <h1 class="titre_contact">Nous contacter</h1>
    </div>
    <div class = "contact">
        <p>
          <BR>Telephone: 01 02 03 04 05
          <BR>Email: pythonR@gmail.com
          <BR>Adresse: 12 Avenue Leonard de Vinci, 92400 Courbevoie
          <BR>Si vous avez besoin d'un medecin, cliquez <a href="https://www.allo-medecin-garde.fr/" style="color:#D28B98;">ici.</a>
	  <BR>Pour avoir plus d'informations sur la situation actuelle, cliquez <a href="https://www.gouvernement.fr/info-coronavirus#mesures" style="color:#D28B98;">ici.</a>
       </p>
    </div>
  
{% endblock %}