{% extends "base_generic.html" %}

{% block content %} 
  <div>
    <h1 class="connexion">Connexion</h1>
  </div>
  <PRE class="username">Nom d'utilisateur :                     Mot de passe :</PRE>
  <div>
    <form method="POST" action="" class="form_connexion">
      {% csrf_token %}
      <input type="text" name="username">
      <input type="password" name="password">
      <input type="submit" value="Valider">
    </form>
  </div>
  
   {% for message in messages %}
     <p>{{message}}</p>
   {% endfor %}
{% endblock %}